## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [4]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [43]:
s="hi there Sam"
s1=s.split()
print(s1)

['hi', 'there', 'Sam']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:

txt="The diameter of {planet} is {diameter} kilometers."
print(txt.format(diameter = 12742,planet="Earth"))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [35]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

list is mutable, whereas a tuple is immutable.

In [37]:
list1=[1,2,3,4]
list1[0]=10
print(list1)

[10, 2, 3, 4]

In [41]:

tuple1=(1,2,3,4)
try:
  tuple1[0]=10
except:
  print('error ')

error

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [3]:
def fun(anyname):
  off = anyname.index('@')
  return anyname[off+1:]
fun('user@domain.com')

'domain.com'

In [33]:
fun('hirthick@mydude.com')

'mydude.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def fun1(anystring):
  r=anystring.find('dog')
  r1=anystring.find('Dog')
  r2=anystring.find('DOG')
  return True if not(r == -1)or not(r1 == -1)or not(r2 == -1) else False
fun1("i saw a dog ")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def fun1(anystring):
  r=anystring.count('dog')
  r1=anystring.count('Dog')
  r2=anystring.count('DOG')

  return r+r1+r2
fun1("dog dog DOG Dog ")

4

In [23]:
fun1("i found a dog , since dog is domestic animal ")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [21]:
caught_speeding(84,False)

'Big Ticket'

In [22]:
caught_speeding(65,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [25]:
employee=[1000,2000,3000,4000,5000]
total_salary=0
for i in employee:
  total_salary=total_salary+i
print(total_salary)

15000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [32]:
dict1 = {'Empid'   : [1, 2, 3, 4],
             'Empname'   : ['ram', 'bala', 'raj', 'jack'],
             'Basicpay' : [1000, 2000, 3000, 4000]
             }
dict2= {'DeptName' : ['IT','CSE','MECH','EEE'],
        'DeptId' : [205,204,203,202]
}
dict3={**dict1,**dict2}
print(dict3)

{'Empid': [1, 2, 3, 4], 'Empname': ['ram', 'bala', 'raj', 'jack'], 'Basicpay': [1000, 2000, 3000, 4000], 'DeptName': ['IT', 'CSE', 'MECH', 'EEE'], 'DeptId': [205, 204, 203, 202]}